body {
    background-image: url("./img/cement-texture.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    
}

.card-item {
    flex-shrink: 0;
    width: 300px;  
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
    height: 100%;
}